In [1]:
import pandas as pd

#df = pd.read_csv("../../../iPinyou/make-ipinyou-data-master/all/test.log.txt",header=0,sep='\t',index_col=False)
campaign_info = pd.read_csv("../../GitRepo/data/campaign/cds_singletransactions_campaigns_segments.tsv", 
                            header=0, sep='\t',index_col=0, names=['id','idcampaign','campaign_type','id_partner',
                                                                  'id_application','id_vertical_type', 'id_country', 
                                                                  'id_operator','id_os','id_browser','exclude', 'id_group'])

df = pd.read_csv("../../GitRepo/format_data/campaign_testmode_0715_withprice_correct.txt", header=0, sep=',',index_col=0)

In [6]:
print df.head()
print campaign_info.head()
print campaign_info.shape

   hour  weekday  country_code  idoperator  iddevice  idhardware  idbrowser  \
0   0.0      2.0           161          18         8           2         32
1  17.0      1.0           152           0     15375           2          3
2  23.0      1.0           159         335         1           1          0
3  17.0      1.0           152           0      4841           2          7
4   0.0      2.0            22           0         6           3         32

   idos  idcampaign  idcat  uniform_price  purchase
0     2        4755    2.0            0.0         0
1     1        5019    2.0            0.0         0
2     0        3995    2.0            0.0         0
3     1        4897    2.0            0.0         0
4     2        4044    2.0            0.0         0
    id_campaign  campaign_type  id_partner  id_application  id_vertical_type  \
id
2             2              1           1               0                 0
3             2              1           1               0                 0
4             2              1           1               0                 0
5             2              1           1               0                 0
6             2              1           1               0                 0

    id_country id_operator id_os id_browser  exclude  id_group
id
2          108           0   all        all        0         2
3          108           1   all        all        0         2
4          108           2   all        all        0         2
5          108           4   all        all        0         2
6          108           5   all        all        0         2
(169298, 11)

In [11]:
print campaign_info[campaign_info["idcampaign"] == 4044]

        idcampaign  campaign_type  id_partner  id_application  \
id
291173        4044              1          30               0
291174        4044              1          30               0
291175        4044              1          30               0
291176        4044              1          30               0
291177        4044              1          30               0
291178        4044              1          30               0
291179        4044              1          30               0
291180        4044              1          30               0
291181        4044              1          30               0
291182        4044              1          30               0
291183        4044              1          30               0
291184        4044              1          30               0
291185        4044              1          30               0
291186        4044              1          30               0
291187        4044              1          30               0
291188        4044              1          30               0
291189        4044              1          30               0
291190        4044              1          30               0
291191        4044              1          30               0
291192        4044              1          30               0
291193        4044              1          30               0
291194        4044              1          30               0
291195        4044              1          30               0
291196        4044              1          30               0
291197        4044              1          30               0
291200        4044              1          30               0
291201        4044              1          30               0
291202        4044              1          30               0
291203        4044              1          30               0
291205        4044              1          30               0
...            ...            ...         ...             ...
835896        4044              0          30               0
835897        4044              0          30               0
835898        4044              0          30               0
835899        4044              0          30               0
835900        4044              0          30               0
835901        4044              0          30               0
835902        4044              0          30               0
835903        4044              0          30               0
835904        4044              0          30               0
835905        4044              0          30               0
835906        4044              0          30               0
835907        4044              0          30               0
835908        4044              0          30               0
835909        4044              0          30               0
835910        4044              0          30               0
835911        4044              0          30               0
835912        4044              0          30               0
835913        4044              0          30               0
835914        4044              0          30               0
835915        4044              0          30               0
835916        4044              0          30               0
835917        4044              0          30               0
835918        4044              0          30               0
835919        4044              0          30               0
835920        4044              0          30               0
835921        4044              0          30               0
848561        4044              0          30               0
848562        4044              0          30               0
848643        4044              0          30               0
848647        4044              0          30               0

        id_vertical_type  id_country id_operator id_os id_browser  exclude  \
id
291173                 0         103         all     1        all        1
291174                 0         103         all     2        all        1
291175                 0         103         all     3        all        1
291176                 0         103         all     4        all        1
291177                 0         103         all     5        all        1
291178                 0         103         all     6        all        1
291179                 0         103         all     7        all        1
291180                 0         103         all     8        all        1
291181                 0         103         all     9        all        1
291182                 0         103         all    13        all        1
291183                 0         103         all    18        all        1
291184                 0         103         all    20        all        1
291185                 0         103         all     0        all        1
291186                 0         103         all    22        all        1
291187                 0         225         all   all        all        1
291188                 0          31         all   all        all        1
291189                 0         152         all   all        all        1
291190                 0         108         all   all        all        1
291191                 0          67         all   all        all        1
291192                 0          13         all   all        all        1
291193                 0         179         all   all        all        1
291194                 0          77         all   all        all        1
291195                 0         174         all   all        all        1
291196                 0          49         all   all        all        1
291197                 0          56         all   all        all        1
291200                 0          62         all   all        all        1
291201                 0         153         all   all        all        1
291202                 0         169         all   all        all        1
291203                 0          16         all   all        all        1
291205                 0         210         all   all        all        1
...                  ...         ...         ...   ...        ...      ...
835896                 2         196           0     1        all        1
835897                 2         196         441     1        all        1
835898                 2         196         472     1        all        1
835899                 2         117         all     1        all        1
835900                 2         182         404     1        all        1
835901                 2         161          17   all        all        1
835902                 2         161          18   all        all        1
835903                 2         161          19   all        all        1
835904                 2         161          20   all        all        1
835905                 2         161          21   all        all        1
835906                 2         161          22   all        all        1
835907                 2         161         262   all        all        1
835908                 2         161         324   all        all        1
835909                 2         161         542   all        all        1
835910                 2         161         556   all        all        1
835911                 2          68         all   all        all        1
835912                 2          85         all   all        all        1
835913                 2         124         all   all        all        1
835914                 2          58         all   all        all        1
835915                 2         154         all   all        all        1
835916                 2          30         all   all        all        1
835917                 2         200         all   all        all        1
835918                 2         223         all   all        all        1
835919                 2         140         all   all        all        1
835920                 2         155         all   all        all        1
835921                 2         218         all   all        all        1
848561                 0           5         all   all        all        1
848562                 2           5         all   all        all        1
848643                 0           8         all   all        all        1
848647                 2           8         all   all        all        1

        id_group
id
291173      5461
291174      5461
291175      5461
291176      5461
291177      5461
291178      5461
291179      5461
291180      5461
291181      5461
291182      5461
291183      5461
291184      5461
291185      5461
291186      5461
291187      5491
291188      5435
291189      5474
291190      5463
291191      5448
291192      5430
291193      5481
291194      5452
291195      5480
291196      5442
291197      5443
291200      5446
291201      5475
291202      5479
291203      5431
291205      5486
...          ...
835896      9365
835897      9368
835898      9375
835899      9402
835900      9416
835901      5478
835902      5478
835903      5478
835904      5478
835905      5478
835906      5478
835907      5478
835908      5478
835909      5478
835910      5478
835911     11514
835912     11517
835913     11522
835914     11523
835915     11524
835916     11525
835917     11526
835918     11527
835919     11528
835920     11529
835921     11530
848561     14130
848562     14130
848643      9235
848647      9235

[983 rows x 11 columns]

In [9]:
print campaign_info["id_application"].nunique()

2425

In [ ]:
df_merge = pd.merge(df, campaign_info[['idcampaign','id_partner','id_application','id_country','id_operator','id_os',
                                     'id_browser','exclude']], how="left", on = ['idcampaign'])

In [ ]:
df_merge.to_csv("campaign_tesmost_0715_withmorecampaigninfo.csv")